# Many thanks:
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# https://github.com/christopheryoung/dotfiles/blob/master/.aliases

# Colorize the ls output
alias ls="command ls --color"


# Navigation
alias ..="cd .."
alias ...="cd ../.."


# Git aliases
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gdc="git diff --cached"
alias gadd="git add"


# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
