# Many thanks:
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# https://github.com/christopheryoung/dotfiles/blob/master/.aliases


# Navigation
alias ..="cd .."
alias ...="cd ../.."


# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'


# git bare repository to manage dotfiles
alias dotfiles="/usr/bin/git --git-dir=${HOME}/.dotfiles.git/ --work-tree=${HOME}"