# Many thanks: https://github.com/christopheryoung/dotfiles/blob/master/.functions

# Navigation help
mkd() { mkdir -p $@ && cd $_; }


# Command line help
google() { open "http://www.google.com/search?q=$@"; }
rtfm() { tldr $@ || help $@ || man $@ || google $@; }
