# Search in GitHub CLI Copilot.
# We can use "suggest" or "explain" command.
# If we use "suggest", we can use "--target" as "shell" or "gh" or "git".
# We default to "gh copilot suggest --target shell"
co() {
    local args
    args=("$@")

    # Help
    if [[ " ${args[*]} " =~ " -h" ]] || [[ " ${args[*]} " =~ " --help" ]]; then
        gh copilot "${args[@]}"
        return 0
    fi

    # Default to 'suggest' if 'explain' is not found
    if [[ ! " ${args[*]} " =~ " explain " ]]; then
        args=("suggest" "${args[@]}")
    fi

    # Default target to 'shell' if 'suggest' is used without a target
    if [[ " ${args[*]} " =~ " suggest " ]] && [[ ! " ${args[*]} " =~ " -t " ]] && [[ ! " ${args[*]} " =~ " --target " ]]; then
        args=("--target" "shell" "${args[@]}")
    fi

    gh copilot "${args[@]}"
}


# Navigation help
mkd() { mkdir -p $@ && cd $_; }

# Command line help

# Search in Google.
# Usage: google "search query"
goo() {
    if _is_darwin; then
        open -a "Google Chrome" "https://www.google.com/"
    elif _is_linux; then
        xdg-open "https://www.google.com"
    else
        _error "Unsupported OS";
        return 1;
    fi
}


# Show notification with title and message.
# Usage: show_notification "Title" "Message"
show_notification() {
    title="$1"
    message="$2"
    if [[ -z "$message" ]]; then
        message=$title
    fi

    if _is_darwin; then
        osascript -e "display notification \"$message\" with title \"$title\""
    elif _is_linux; then
        notify-send "$title" "$message"
    else
        _error "Unsupported OS";
        return 1;
    fi
}


# Show find
find() {
    local args
    args=("$@")

    # Help
    if [[ " ${args[*]} " =~ " -h" ]] || [[ " ${args[*]} " =~ " --help" ]]; then
        command find --help
        return 0
    fi

    command find "${args[@]}"
}